@font-face {
    font-family: luxury-royale;
    src: url(../fonts/luxury-royale.ttf );
   }
@font-face {
    font-family: HelveticaNeueLTStd-Th;
    src: url(../fonts/HelveticaNeueLTStd-Th.otf );
   }
@font-face {
    font-family:HelveticaNeueLTStd Blk;
    src: url(../fonts/HelveticaNeueLTStd Blk.otf );
   } 
@font-face {
    font-family:AEmpirial;
    src: url(../fonts/AEmpirial.ttf );
   }  
