a:hover {
    text-shadow: black 2px 2px 2px;
    cursor: pointer;
}

.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    min-width: 320px;
}

header {
    width: 100%;
    height: 30px;
    background-color: #000;
}

.header-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.header-inner p {
    font-family: Arial, regular;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    display: block;
}

.small-custom-care {
    float: left;
    height: 100%;
    line-height: 3.1;
    width: 76%;
}

.us {
    float: left;
    border-left: 1px solid grey;
    height: 100%;
    width: 28%;
}

.us p {
    background-image: url("../img/us.png");
    background-position: 50px 13px;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    height: 30px;
    line-height: 2.9;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.search {
    background-image: url("../img/search.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-right: 1px solid grey;
    float: right;
    font-size: 1.9em;
    height: 100%;
    text-indent: -9999px;
    width: 17%;
}

.account {
    background-image: url("../img/user.png");
    background-position: 11px 8px;
    background-repeat: no-repeat;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    float: left;
    height: 100%;
    width: 52%;
}

.account p {
    color: #fff;
    font-family: Arial, regular;
    font-size: 11px;
    line-height: 2.5;
    margin-left: 14%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.top-menu-nav {
    display: none;
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 65px -811px;
    display: none;
    float: right;
    height: 100%;
    width: 30%;
}

.holder {
    width: 100%;
    height: 100%;
}

.top-small-menu {
    float: left;
    height: 100%;
    width: 24%;
}

.us-chose {
    background: grey none repeat scroll 0 0;
    display: none;
    width: 30px;
}

.us-chose li {
    height: 16px;
    text-align: center;
    width: auto;
}

.us-chose a {
    color: #fff;
    font-family: arial;
    font-size: 11px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: capitalize;
}

.us:hover .us-chose {
    display: block;
    float: right;
}

.secound-top {
    width: 100%;
    height: 106px;
}

.secound-top-inner {
    margin: 0 auto;
    width: 970px;
    height: 100%;
}

.secound-top-inner img {
    float: left;
    margin-top: 45px;
    width: 11%;
}

.main-menu {
    float: left;
    height: auto;
    margin-top: 5%;
}

.main-menu ul {
    display: block;
    width: 430px;
}

.main-menu li {
    float: left;
    height: 16px;
    margin-right: 7.5%;
    text-align: center;
    width: auto;
}

.main-menu li:last-child {
    margin-right: 0px;
}

.main-menu a {
    background: rgba(0, 0, 0, 0) url("../img/main-menu.png") no-repeat scroll right center;
    color: #000;
    font-family: arial;
    font-size: 16px;
    padding-right: 9px;
    text-decoration: none;
    width: 100%;
}

.your-card {
    border: 1px solid #d6d6d6;
    float: right;
    height: 65px;
    margin-top: 2.2%;
    width: 21.9%;
}

.your-card a {
    background: rgba(0, 0, 0, 0) url("../img/your-card-str.png") no-repeat scroll 197px center;
    border-bottom: 1px solid #d6d6d6;
    color: #d6d6d6;
    display: block;
    font-family: Arial;
    font-size: 12px;
    height: 50%;
    line-height: 2.5;
    padding-left: 15px;
    text-decoration: none;
}

.item-line {
    background-color: #fafafa;
    display: block;
    float: left;
    height: 49%;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../img/busket.png") no-repeat scroll 10px center;
}

.item {
    float: right;
    height: auto;
    display: block;
}

.item p {
    font-family: Arial;
    font-size: 12px;
    color: #d6d6d6;
    text-transform: uppearese;
    float: left;
    padding: 10px;
}

.item p:first-child {
    border-right: 1px solid #d6d6d6;
}

/*=====================================SLIDER-START====================================*/
.slider {
    height: 435px;
    width: 100%;
}

.slider-holder {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
}

.slider-inner {
    margin: 0 auto;
    height: auto;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.flex-active-slide {
    position: relative;
}

.slides img {
    width: 100%;
    height: auto;
}

.slider-box {
    display: block;
    height: auto;
    margin-left: 15.5%;
    overflow: hidden;
    position: absolute;
    top: 8%;
    width: 33%;
}

.slider-text {
    height: auto;
    width: 87%;
}

.slider-box a {
    background: #fd926d url("../img/shop-now-str.png") no-repeat scroll 127px center;
    border-bottom: 1px solid #dd6b44;
    color: #fff;
    display: block;
    float: left;
    font-family: HelveticaNeueLTStd-Th;
    font-size: 16px;
    height: auto;
    line-height: 3.5;
    margin: 4% 0 0 22.9%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 39%;
}

.flexslider .flex-control-nav a {
    display: block;
    text-indent: -9999px;
    background-image: url(../img/flex.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 20px;
}

.flexslider .flex-active {
    background: rgba(0, 0, 0, 0) url("../img/flex-act.png") no-repeat scroll center center !important;
    display: block;
    width: 10px;
    height: 10px;
    float: left;
}

.flexslider .flex-nav-next {
    background: #fff url("../img/next.png") no-repeat scroll center center;
    display: block;
    height: 120px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 38%;
    width: 30px;
}

.flexslider .flex-next a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.flexslider .flex-nav-prev {
    background: #fff url("../img/prev.png") no-repeat scroll center center;
    display: block;
    height: 120px;
    position: absolute;
    text-indent: -9999px;
    top: 38%;
    width: 30px;
}

.flexslider .flex-nav-prev a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.flex-control-nav li {
    background-image: url("../img/flex.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 10px;
    margin-right: 30px;
    text-indent: -9999px;
    width: 10px;
}

.flex-control-nav a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.flex-control-nav {
    display: block;
    float: left;
    height: auto;
    margin: 20px 0 0 49%;
    width: auto;
}

/*=====================================SLIDER-END====================================*/
.stay-update {
    background-color: #ededed;
    height: 55px;
    margin-top: 6%;
    width: 100%;
}

.stay-update-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.email {
    float: left;
    width: auto;
    height: 100%;
}

.email p {
    float: left;
    font-family: Arial;
    font-size: 12px;
    color: #6b6b6b;
    margin-top: 22px;
}

.inner-find-us {
    float: right;
}

.your-email {
    margin: 14px 0 0 10px;
    float: left;
    height: 28px;
    width: 160px;
}

.your-email form {
    display: block;
}

.your-email input[type="search"] {
    border: medium none;
    height: 28px;
    margin-right: -4px;
    margin-top: -16px;
    outline: medium none;
    vertical-align: middle;
    width: 126px;
    font-style: italic;
}

.your-email input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("../img/add.png") no-repeat scroll 50% 50%;
    border: medium none;
    background-color: #fd926d;
    border-bottom: 1px solid #dd6b44;
    width: 28px;
    height: 28px;
}

.your-email input[type="search"]:-moz-placeholder {
    color: #6a6a6a;
    display: block;
    font-family: Arial, italic;
    font-size: 12px;
    font-style: italic;
}

.form-for-email {
    display: none;
    float: left;
    height: 95px;
    margin: 1% 3%;
    width: 97%;
}

.form-for-email form {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.form-for-email input[type="search"] {
    background: #ededed none repeat scroll 0 0;
    border: medium none;
    font-size: 30px;
    height: 100%;
    outline: medium none;
    vertical-align: middle;
    width: 82%;
}

.form-for-email input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fd926d url("../img/add.png") no-repeat scroll 50% 50% / 40% auto;
    border-color: -moz-use-text-color -moz-use-text-color #dd6b44;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 3px;
    height: 100%;
    margin-left: -1%;
    width: 16%;
}

.form-for-email input[type="search"]:-moz-placeholder {
    color: #9f9f9f;
    display: block;
    font-family: Arial, italic;
    font-size: 30px;
}

.find-us {
    width: 253px;
    height: 100%;
    float: right;
}

.find-us p {
    font-family: Arial, italic;
    font-size: 12px;
    color: #6c6c6c;
    margin-top: 22px;
    float: left;
    display: block;
    margin-right: 15px;
}

.find-us img {
    width: 55px;
    height: 55px;
    float: left;
    display: block;
}

.twitter {
    width: 55px;
    height: 55px;
    float: left;
}

.twitter img {
    height: 17px;
    margin: 19px 0 0 17px;
    width: 20px;
}

.find-us-small {
    display: none;
    float: left;
    height: 45%;
    overflow: hidden;
    width: 100%;
}

.find-us-small-inner {
    height: 100%;
    width: 80%;
    margin: 3% 10%;
}

.find-us-small p {
    color: #6c6c6c;
    float: left;
    font-family: Arial;
    font-size: 26px;
    margin: 6% 0 0 6%;
    width: 35%;
}

.min-face {
    background: #f7f7f7 url("../img/sprites.png") no-repeat scroll -41px -492px;
    display: block;
    float: left;
    height: 100%;
    width: 17%;
}

.min-twitter {
    background: #ededed url("../img/sprites.png") no-repeat scroll 15px -550px;
    display: block;
    float: left;
    height: 100%;
    width: 18%;
}

.min-rambler {
    background: #f7f7f7 url("../img/sprites.png") no-repeat scroll -154px -492px;
    display: block;
    float: left;
    height: 100%;
    width: 17%;
}

.looks {
    height: auto;
    overflow: hidden;
    width: 100%;
}

.looks-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.banner-left {
    display: block;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.banner-left img {
    height: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.banner-left-img-holder {
    width: 485px;
    height: 340px;
    display: block;
}

.look-box {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 39px;
    top: 64px;
    width: 46%;
}

.look-box img {
    width: 100%;
    height: auto;
}

.banner {
    height: 100%;
    margin-top: 40px;
    width: 100%;
}

.banner-right {
    float: left;
    height: 100%;
    width: 50%;
}

.top-right-banner {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
}

.top-right-banner img {
    height: auto;
    width: 100%;
}

.summer {
    left: 29px;
    position: absolute;
    top: 10px;
    width: 28%;
}

.summer img {
    height: auto;
    width: 100%;
}

.low-right-banner {
    display: block;
    float: left;
    height: 50%;
    overflow: hidden;
    width: 100%;
}

.left {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.left img {
    width: 100%;
    height: auto;
}

.left p {
    bottom: 25px;
    color: #fff;
    display: block;
    font-family: HelveticaNeueLTStd-Th;
    font-size: 30px;
    left: 27px;
    position: absolute;
    text-transform: uppercase;
}

.right {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.right img {
    width: 100%;
    height: auto;
}

.right p {
    bottom: 86%;
    color: #fff;
    display: block;
    font-family: HelveticaNeueLTStd-Th;
    font-size: 35px;
    position: absolute;
    right: 34%;
    text-align: center;
    text-transform: uppercase;
    top: 18%;
}

.right p:first-child {
    margin-right: 10px;
}

.right a {
    color: #fff;
    display: block;
    font-family: HelveticaNeueLTStd-Th;
    font-size: 12px;
    height: auto;
    line-height: 2.4;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: url(../img/shop-now-str.png) no-repeat scroll 87px center;
    background-color: #4fafa0;
    width: 100%;
}

.shop-now-holder {
    height: 29px;
    left: 13%;
    position: absolute;
    top: 66%;
    width: 41%;
}

/*=====================================CAROUSEL-START====================================*/
.carousel {
    background-color: #fd926d;
    height: 460px;
    margin: 6% auto;
    position: relative;
    width: 94%;
}

.carousel-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel .slides li {
    margin: 30px 30px 0 30px;
    width: 210px;
    height: 395px;
    position: relative;
}

.carousel .slides img {
    height: 290px;
    width: 100%;
    float: left;
}

.bottom-img {
    display: block;
    float: left;
    height: 107px;
    width: 210px;
    background-color: #f7f7f7;
}

.bottom-img p {
    font-family: Arial;
    font-size: 12px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-top: 13px;
}

.bottom-img span {
    display: block;
    font-family: Arial;
    font-size: 22px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
}

.bottom-img a {
    background-color: #fd926d;
    border-bottom: 1px solid #dd6b44;
    color: #fff;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 30px;
    left: 44px;
    line-height: 2.3;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 12px;
    width: 120px;
}

.carousel .flex-direction-nav {
    position: absolute;
    right: 193px;
    top: -47px;
    width: -10px;
}

.carousel .flex-prev {
    background: #f2f2f2 url("../img/prev-cour.png") no-repeat scroll center center;
    display: block;
    float: left;
    height: 47px;
    text-indent: -9999px;
    width: 47px;
}

.carousel .flex-next {
    background: #fd926d url("../img/prev-cour.png") no-repeat scroll center center;
    display: block;
    float: left;
    height: 47px;
    right: 253px;
    text-indent: -9999px;
    width: 47px;
}

.carousel .flex-active {
    background: rgba(0, 0, 0, 0) url("../img/flex-act.png") no-repeat scroll center center !important;
    display: block;
    width: 10px;
    height: 10px;
    float: left;
}

.carousel .flex-control-nav li a {
    background-image: url("../img/flex.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 10px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 10px;
}

.carousel .flex-nav-prev {
    background: #f2f2f2 url("../img/prev-cour.png") no-repeat scroll center center;
    display: block;
    float: left;
    height: 47px;
    text-indent: -9999px;
    width: 47px;
}

.carousel .flex-nav-prev a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.carousel .flex-nav-next {
    background: #fd926d url("../img/prev-cour.png") no-repeat scroll center center;
    display: block;
    float: left;
    height: 47px;
    right: 253px;
    text-indent: -9999px;
    width: 47px;
    transform: rotate(180deg);
}

.carousel .flex-nav-next a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.carousel .flex-control-nav {
    display: none;
}

.shop-it {
    display: none;
}

.carousel .slides li:hover .shop-it {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll -315px 0;
    display: block;
    height: 134px;
    left: 18%;
    position: absolute;
    top: 27%;
    width: 137px;
    display: block;
}

/*=====================================CaRUSEL-END====================================*/
.sale {
    height: 79px;
    width: 100%;
}

.new-sale-chircul {
    border-top: 1px solid #d8d8d8;
    margin-top: 106px;
    text-align: center;
}

.circul {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: -89px;
    padding: 40px;
}

.circul p {
    color: #fff;
    font-family: AEmpirial;
    font-size: 36px;
}

.five {
    font-size: 81px !important;
    float: left;
}

.circul-words {
    float: left;
    margin: -17px 0 0 5px;
}

.gallery {
    height: 395px;
    margin-top: 2px;
    overflow: hidden;
    width: 100%;
}

.gallery-inner {
    width: 970px;
    height: 100%;
    margin: 1% auto;
}

.photos {
    float: left;
    height: 395px;
    margin: 0 1%;
    position: relative;
    width: 23%;
}

.bottom-img-gallery {
    display: block;
    float: left;
    height: 107px;
    width: 100%;
    background-color: #f7f7f7;
    margin-top: -3px;
    position: relative;
}

.bottom-img-gallery p {
    font-family: Arial;
    font-size: 12px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-top: 13px;
}

.bottom-img-gallery span {
    display: block;
    font-family: Arial;
    font-size: 22px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
}

.bottom-img-gallery a {
    background-color: #fd926d;
    border-bottom: 1px solid #dd6b44;
    color: #fff;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 22px;
    left: 21%;
    line-height: 2.3;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 51%;
    width: 120px;
}

.sale-tag {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 0 -200px;
    display: block;
    height: 13%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 25%;
}

.brands {
    height: 100px;
    width: 100%;
}

.brands-inner {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    height: auto;
    margin: 6.2% 0 0;
    text-align: center;
    width: 100%;
}

.brands p {
    color: #414141;
    display: block;
    font-family: Arial, bold;
    font-size: 15px;
    margin-top: -38px;
    padding: 30px;
    text-transform: uppercase;
}

.brands-img-holder {
    display: block;
    height: auto;
    margin: -4px 13.9%;
    overflow: hidden;
    width: 69%;
}

.img-holder {
    float: left;
    height: auto;
    margin-right: 4%;
    margin-top: -1%;
    vertical-align: middle;
    width: 8%;
}

.info {
    height: 160px;
    margin: -2px auto;
    overflow: hidden;
    width: 970px;
}

.info h3 {
    color: #414141;
    font-family: Arial;
    font-size: 24px;
    margin: 30px 0 20px;
    text-align: center;
}

.info p {
    font-family: Arial;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

.type-of-card {
    background-color: #f7f7f7;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.type-of-card-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.type-of-card-inner p {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 84px -289px;
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 28px;
    margin: 3% 0 0 20%;
    width: 58%;
}

.pre-footer {
    width: 100%;
    height: 198px;
    background-color: #ededed;
    overflow: hidden;
}

.pre-footer-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.column-foot {
    float: left;
    height: auto;
    width: 50%;
}

.column-foot p {
    font-family: Arial;
    font-size: 16px;
    color: #544f4d;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.column-foot a {
    display: block;
    text-decoration: none;
    color: #827e7d;
    font-family: Arial;
    margin-top: 10px;
    font-size: 12px;
    color: #827e7d;
}

.column-foot-last {
    float: left;
    height: auto;
    width: 50%;
}

.column-foot-last p {
    font-family: Arial;
    font-size: 16px;
    color: #544f4d;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.column-foot-last a {
    color: #827e7d;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.column-foot-stores {
    float: left;
    height: auto;
    margin: 11% 0 0 25%;
    width: 22%;
}

.column-foot-stores p {
    font-family: Arial;
    font-size: 16px;
    color: #544f4d;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.column-foot-stores a {
    display: block;
    text-decoration: none;
    color: #827e7d;
    font-family: Arial;
    margin-top: 10px;
    font-size: 14px;
    color: #827e7d;
}

.garanty {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 0 -369px;
    float: left;
    height: 107px;
    width: 50%;
}

.third {
    display: block;
    float: left;
    height: auto;
    margin: 4% 0 0 0;
    overflow: hidden;
    width: 33.3%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #000;
    overflow: hidden;
}

.footer-inner {
    width: 970px;
    height: 100%;
    margin: 0 auto;
}

.footer-menu li {
    border-right: 1px solid #5e5e5e;
    float: left;
    margin-top: 41px;
    width: 94px;
}

.footer-menu a {
    color: #5e5e5e;
    display: block;
    font-family: Arial;
    font-size: 11px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.footer-menu {
    float: left;
    width: 80%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.last-slog {
    display: block;
    float: right;
    height: 100%;
    margin: 3% 0;
    overflow: hidden;
    width: 20%;
}

.last-slog p {
    font-family: Arial;
    font-size: 11px;
    color: #5e5e5e;
    text-align: right;
    line-height: 1.5;
}

.navigation {
    position: relative;
    display: none;
    width: 100%;
    height: 50px;
    background-color: #fd926d;

}

.vertical-menu {
    background-color: orange;
    display: none;
    float: left;
    position: absolute;
    top: 0;
    width: auto;
}

.vertical-menu li {
    height: 29px;
    text-align: center;
    width: auto;
}

.vertical-menu a {
    font-family: arial;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
}

.vertical-menu li:hover {
    background-color: grey;
}

.navigation p {
    float: left;
    font-family: Arial;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0 0 15px;
}

.navigation-img {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 59px -470px;
    display: none;
    float: right;
    height: 100%;
    width: 10%;
}

.sale-inner .top {
    height: auto;
    padding-top: 95px;
    position: relative;
    width: 100%;
}

.sale-inner .circul {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 0 0;
    float: left;
    height: 157px;
    left: 406px;
    position: absolute;
    top: 5px;
    width: 157px;
}

.photos img {
    width: 100%;
    height: auto;
}

.img-holder:last-child {
    margin-right: 0px;
}

.logo {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    width: 12%;
    margin-right: 180px;
}

.logo img {
    display: block;
    height: auto;
    width: 100%;
}

.whats-hot {
    display: none;
    width: 100%;
    height: 1052px;
}

.hot-line {

    width: 100%;
    height: 88px;
    background-color: #f4845d;
}

.hot-line p {
    color: #fff;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 30px;
    margin: 32px 27px 25px;
    overflow: hidden;
    text-transform: uppercase;
    width: 67%;
}

.hot-caret {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 63px -651px;
    display: block;
    float: right;
    margin-left: 30px;
    height: 100%;
    width: 14%;
}

.small-banner {
    width: 100%;
    height: 948px;
    display: none;
    background-color: #fd926d;
    position: relative;
}

.hot-poto-holder {
    float: left;
    height: auto;
    margin: 6% 0 0 5%;
    position: relative;
    width: 43%;
}

.hot-poto-holder img {
    float: left;
    height: auto;
    width: 100%;
}

.hot-poto-holder p {
    color: #373737;
    font-family: Arial;
    font-size: 18px;
    margin-top: 9px;
    text-align: center;
    text-transform: uppercase;

}

.hot-poto-holder span {
    color: #373737;
    display: block;
    font-family: Arial;
    font-size: 22px;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
}

.hot-poto-holder a {
    background-color: #fd926d;
    border-bottom: 1px solid #dd6b44;
    color: #fff;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 20px;
    height: 65px;
    line-height: 3.3;
    margin: 1% 12%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 79%;

}

.bottom-hot {
    background: #ededed none repeat scroll 0 0;
    display: block;
    height: 160px;
    float: left;
    width: 100%;
}

.load-more {
    background-color: #000;
    color: #fff;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 20px;
    height: auto;
    left: 32%;
    line-height: 3.3;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 87%;
    width: 35.2%;
}

.low-small-banner {
    background-color: none;
    margin: -7% 0 0;
}

.footer-vertical-menu {
    background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 16px -776px;
    display: none;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 32%;
}

.first {
    display: block;
    float: left;
    height: auto;
    margin-top: 4%;
    overflow: hidden;
    width: 33.3%;
}

.secound {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    width: 33.3%;
}

.float-column {
    margin: 12% 0 0 9%;
}

@media only screen and (min-width: 0px) and (max-width: 970px), only screen and (min-device-width: 0px) and (max-device-width: 970px) {

    .header-inner {
        height: 100%;
        width: 100%;
    }

    .secound-top-inner {
        height: 100%;
        width: 100%;
    }

    .slider-inner {
        height: 100%;
        width: 100%;
    }

    .stay-update-inner {
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }

    .slides .flexslider {
        height: 100%;
        width: 100%;
    }

    .looks-inner {
        height: 100%;
        width: 100%;
    }

    .sale-inner {
        height: 100%;
        width: 100%;
    }

    .brands-inner {
        height: 100%;
        width: 100%;
    }

    .footer-inner {
        height: 100%;
        width: 100%;
    }

    .info {
        height: 100%;
        width: 100%;
    }

    .type-of-card-inner {
        height: 100%;
        width: 100%;
    }

    .pre-footer-inner {
        height: 100%;
        width: 100%;
    }

    .gallery-inner {
        height: 100%;
        width: 100%;
    }

    .pre-footer-inner {
        height: 100%;
        width: 100%;
    }

    .slider {
        width: 100%;
        height: 100%;
    }

    .gallery {
        width: 100%;
        height: 100%;
    }

    .brands {
        width: 100%;
        height: 100%;
    }

    .info {
        width: 100%;
        height: 100%;
    }

    .type-of-card {
        width: 100%;
        height: 100%;
    }

    .pre-footer {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 100%;
        height: 100%;
    }

    .carousel {
        margin: 15% auto;
    }

}

@media only screen and (min-width: 640px) and (max-width: 768px), only screen and (min-device-width: 640px) and (max-device-width: 768px) {

    .header-inner p {
        font-size: 11px;
    }

    p {
        font-size: 11px;

    }

    .carousel {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation-img:hover .vertical-menu {
        display: block;
        float: right;
    }

    .vertical-menu li {
        height: 15px;
    }

    .vertical-menu a {
        font-size: 10px;
    }

    .navigation-img {
        display: block;
    }

    .brands-inner .img-holder:last-child {
        display: none;
    }

    .gallery-inner .photos:last-child {
        display: none;
    }

    .gallery-inner .photos {
        float: left;
        height: 395px;
        margin: 0 2%;
        width: 29%;
    }

    .last-brands {
        display: none;
    }

    .img-holder {
        float: left;
        height: auto;
        margin-right: 4%;
        vertical-align: middle;
        width: 12%;
    }

    .img-holder :last-child {
        margin-right: 0;
    }

    .form-for-email input[type="search"]:-moz-placeholder {
        color: #9f9f9f;
        display: block;
        font-family: Arial, italic;
        font-size: 30px;
        font-style: italic;

    }

    .small-custom-care {
        float: left;
        height: 100%;
        line-height: 3.1;
        width: 66.5%;
    }

    .top-small-menu {
        float: left;
        height: 100%;
        width: 30.5%;
    }

    .search {
        background-image: url("../img/search.png");
        background-position: center center;
        background-repeat: no-repeat;
        border-right: 1px solid grey;
        float: right;
        font-size: 1.9em;
        height: 100%;
        text-indent: -9999px;
        width: 13%;
    }

    .account {
        background-image: url("../img/user.png");
        background-position: 18px 8px;
        background-repeat: no-repeat;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        float: right;
        height: 100%;
        width: 56%;
    }

    .us {

        border-left: 1px solid grey;
        height: 100%;
        width: 28%;
    }

    .us p {
        width: 100%;
        height: 100%;
        background-image: url("../img/us.png");
        background-position: 44px 13px;
        background-repeat: no-repeat;
    }

    .logo {
        display: block;
        float: left;
        height: auto;
        margin: 0 0 0 2%;
        overflow: hidden;
        width: 15.5%;
    }

    .your-card {
        float: right;
        margin-right: 2.4%;
        margin-top: 2.8%;

        width: 27.6%;
    }

    .navigation {
        background-color: #fd926d;
        display: block;
        height: 50px;
        margin: 0 2.2%;
        position: relative;
        width: 95.5%;
    }

    .navigation img {
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 32px -470px;
        display: block;
        float: right;
        height: 100%;
        width: 10%;
    }

    .slider {
        height: 361px;
        margin-top: 2%;
        width: 100%;
    }

    .email {
        float: left;
        height: 100%;
        margin-left: 2%;
        width: auto;
    }

    .find-us {
        float: right;
        height: 100%;
        margin-right: 2.5%;
        width: 253px;
    }

    .looks {
        height: auto;
        margin: 4% 0 0;
        overflow: hidden;
        width: 100%;
    }

    .banner {
        height: 100%;
        margin: 0 1.5%;
        width: 95.5%;
    }

    .look-box {
        display: block;
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 54px;
        width: 45%;
    }

    .summer {
        left: 26px;
        position: absolute;
        top: 15px;
        width: 27%;
    }

    .left p {
        bottom: 15px;
        color: #fff;
        display: block;
        font-family: HelveticaNeueLTStd-Th;
        font-size: 21px;
        left: 23px;
        position: absolute;
        text-transform: uppercase;

    }

    .right p {
        bottom: 86%;
        color: #fff;
        display: block;
        font-family: HelveticaNeueLTStd-Th;
        font-size: 24px;
        position: absolute;
        right: 33%;
        text-align: center;
        text-transform: uppercase;
        top: 25%;
    }

    .right p {
        bottom: 86%;
        color: #fff;
        display: block;
        font-family: HelveticaNeueLTStd-Th;
        font-size: 23px;
        position: absolute;
        right: 34%;
        text-align: center;
        text-transform: uppercase;
        top: 25%;
    }

    .carousel {
        margin: 10% auto;
    }

    .carousel .flex-direction-nav {
        right: 0;
    }

    .carousel .slides li {
        height: 395px;
        margin: 30px 18px;
        position: relative;
        width: 58px;
    }

    .bottom-img-gallery a {
        background-color: #fd926d;
        border-bottom: 1px solid #dd6b44;
        color: #fff;
        display: block;
        float: left;
        font-family: Arial;
        font-size: 12px;
        height: 30px;
        left: 28%;
        line-height: 2.3;
        position: absolute;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        top: 56%;
        width: 120px;
    }

    .gallery {
        margin-top: 9px;
        overflow: hidden;
        height: 480px;
    }

    .third {
        display: block;
        float: left;
        height: auto;
        margin: -15% 0 1%;
        overflow: hidden;
        width: 293px;
    }

    .column-foot-last {

    }

    .first {
        display: block;
        float: left;
        height: auto;
        margin-top: 4%;
        overflow: hidden;
        width: 51%;
    }

    .secound {
        display: block;
        float: left;
        height: auto;
        margin-top: 4%;
        overflow: hidden;
        width: 50%;
    }

    .float-column {
        margin: 0;
    }

    .column-foot-stores {
        float: left;
        height: auto;
        margin: 0;
        width: 22%;
    }

    .footer-menu li {
        margin-top: 34px;
    }

    .type-of-card {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 0) and (max-width: 640px), only screen and (min-device-width: 0px) and (max-device-width: 640px) {
    .main-wrapper {
        min-width: 320px;
    }

    .carousel {
        display: none;
    }

    .header-inner {
        width: 100%;
        height: 100%;
    }

    .small-custom-care {
        height: 95px;
        width: 100%;
        background-color: #fafafa;
    }

    .small-custom-care p {
        color: #838383;
        font-family: arial;
        font-size: 30px;
        margin: 0 15%;
        text-align: center;
        width: 70%;
    }

    .top-small-menu {
        width: 100%;
        height: 95px;
        background-color: #000;
    }

    .secound-top {
        width: 100%;
        height: 320px;
    }

    header {
        width: 100%;
        height: 195px;
    }

    .main-menu {
        display: none;
    }

    .logo {
        height: auto;
        margin: 2% 22%;
        width: 57%;

    }

    .your-card {
        height: 29%;
        margin: 6% 2.5%;
        width: 95%;
    }

    .item-line {
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll -273px -767px;
        display: block;
        float: left;
        height: 100%;

    }

    .item p:first-child {
        border-right: 1px solid #d6d6d6;
    }

    .item p {
        color: #d6d6d6;
        float: left;
        font-family: Arial;
        font-size: 30px;
        line-height: 2.5;

        padding: 10px;
        text-transform: uppercase;
    }

    .your-card a {
        display: none;
    }

    .slider {
        display: none;
    }

    .navigation {
        display: block;
        background-color: #fd926d;
        height: 92px;
        margin: 8% 2%;
        position: relative;
        width: 96%;
    }

    .navigation p {
        color: #fff;
        float: left;
        font-family: Arial;
        font-size: 32px;
        margin: 0 0 0 41px;
        text-transform: uppercase;
        display: block;
    }

    .navigation-img {
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 1px -810px;
        display: block;
        float: right;
        height: 100%;
        width: 10%;

    }

    .navigation-img:hover .vertical-menu {
        display: block;

    }

    .stay-update {
        width: 100%;
        height: 235px;
        margin: 2% 0 0;

    }

    .stay-update-inner {
        height: 100%;
        width: 100%;
        background-color: #fff;
    }

    .email {
        display: none;
    }

    .email p {
        display: none;
    }

    .find-us {
        display: none;
    }

    .form-for-email {
        display: block;
    }

    .find-us-small {
        display: block;
    }

    .looks {
        display: none;
    }

    .small-banner {
        display: block;
    }

    .whats-hot {
        display: block;
    }

    .load-more {
        display: block;

    }

    .secound-top-inner {
        width: 100%;
        height: 100%;
    }

    .us p {
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 140px -654px;
        color: #fff;
        display: block;
        font-family: Arial;
        font-size: 30px;
        height: 100%;
        line-height: 3;
        text-transform: uppercase;
        width: 100%;
        margin-left: -10%;

    }

    .us {
        width: 24.5%;
    }

    .account {
        background: none;
        background-image: url("../img/small-user.png");
        background-position: 148px 31px;
        background-repeat: no-repeat;

        border-left: 1px solid grey;
        border-right: 1px solid grey;
        height: 100%;
        width: 59%;
    }

    .account p {
        color: #fff;
        display: block;
        font-family: Arial;
        font-size: 30px;
        line-height: 3.4;
        margin-left: 3% !important;
    }

    .search {
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll -132px -642px;
        border-right: 1px solid grey;
        float: right;
        font-size: 1.9em;
        height: 100%;
        text-indent: -9999px;
        width: 15.5%;
    }

    .carousel {
        display: none;
    }

    .gallery {
        display: none;
    }

    .brands {
        display: none;
    }

    .info {
        display: none;
    }

    .type-of-card {
        display: none;
    }

    .pre-footer {
        display: none;
    }

    .low-small-banner {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }

    .footer-vertical-menu {
        display: block;
    }

    .footer-menu {
        display: none;
    }

    .footer-vertical-menu:hover .footer-menu {
        display: block;
    }

    .last-slog {
        width: 50%;
    }

    footer {
        width: 100%;
        height: 108px;
    }

    .last-slog p {
        font-family: Arial;
        font-size: 24px;
    }

    .footer-menu {
        display: none;
        float: left;
        height: 100%;
        margin: 0 103px;
        width: 70%;
    }

    .footer-menu li {
        border-right: 1px solid #5e5e5e;
        display: block;

        margin-top: 5px;
        width: 95px;
    }

    .hot-poto-holder span {
        font-size: 27px;
    }

    .form-for-email {
        width: 610px;
        margin: 0 auto;
    }

    .form-for-email input[type="submit"] {
        background: #fd926d url(../img/plus-min.png) no-repeat;
        background-position: center center;
        height: 95px;
        width: 95px;
        x
    }
}

@media only screen and (min-width: 0px) and (max-width: 600px), only screen and (min-device-width: 0px) and (max-device-width: 600px) {
    header {
        height: 95px;
    }

    .small-custom-care {
        background-color: grey;
    }

    .small-custom-care p {
        display: block;
        font-size: 30px;
        width: 100%;
        height: 100%;
        color: #fff;
        margin: 0;

    }

    .top-small-menu {
        display: none;
    }

    .stay-update {
        display: none;
    }

    .whats-hot {
        margin: 20px 0 0;
    }

    .sale {
        display: none;
    }

    .hot-poto-holder {
        width: 100%;
        margin: 6% 0;
    }

    .load-more {
        display: none;
    }

    .vertical-menu {
        background-color: orange;
        display: none;
        float: left;
        position: absolute;
        right: 0;
        top: 100%;
        width: auto;
    }

    .navigation-img {
        width: 19%;
        background: rgba(0, 0, 0, 0) url("../img/sprites.png") no-repeat scroll 85px -811px;
    }

    .footer-vertical-menu {
        width: 32%;
    }

    .last-slog {
        margin: 1% 0 0;
    }
}